
<div class="modal-header">
  <h3 class="modal-title"><i class="fa fa-trash-o"></i> Deleted Dashboard</h3>
</div>
<div class="modal-body">
  <p>
    The Dashboard you're looking for has been deleted. 
    It can be undeleted in the Dashboard Editor.
  </p>
</div>
<div class="modal-footer">
  <button ng-click="goEditor()" class="btn"><i class="fa fa-pencil-square-o"></i><span> Edit</span></button>
  <button ng-click="goHome()" class="btn btn-primary"><i class="fa fa-home"></i><span> Home</span></button>
</div>